.user-message {
    text-align: right;
    background-color: #e3f2fd;
    padding: 10px;
    border-radius: 5px;
}

.bot-message {
    text-align: left;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
