@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="mud--container">
    <MudLayout Class="mud-layout-style">
        <MudMainContent Class="mud-main-content-style">
            @Body
        </MudMainContent>
    </MudLayout>
</div>